#aftv{
    width: 7%;
}
#cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

video{
    width:50em;
}

@media (min-width:360px) and (max-width:400px){
    video{
        width:20em;
    }
    
    #aftv{
        width: 20%;
    }
    
    #heading{
        font-size: .8em;
    }
}

@media(min-width:401px) and (max-width:500px){
    video{
        width:24em;
    }
    
    #aftv{
        width: 25%;
    }
    
    #heading{
        font-size: .9em;
    }
}

@media(min-width:501px) and (max-width:600px){
    video{
        width:20em;
    }
    
    #aftv{
        width: 12%;
    }
    
    #heading{
        font-size: .9em;
    }
}

@media(min-width:601px) and (max-width:700px){
    video{
        width:23em;
    }
    
    #aftv{
        width: 12%;
    }
    
    #heading{
        font-size: .9em;
    } 
}

@media (min-width:701px) and (max-width:750px){
    video{
        width:28em;
    }
    
    #aftv{
        width: 9%;
    }
    
    #heading{
        font-size: .9em;
    } 
}

@media (min-width:751px) and (max-width:800px){
    video{
        width:45em;
    }
    
    #aftv{
        width: 12%;
    }
    
    #heading{
        font-size: 1.5em;
    }
}

@media (min-width:801px) and (max-width:909px){
    video{
        width:20em;
    }
    
    #aftv{
        width: 12%;
    }
    
    #heading{
        font-size: .9em;
    }
}



